.card {
  background-color: black;
  color: white;
}

.card:hover {
  filter: brightness(120%);
  transform: scale(102%);
}

.card-title {
  color: var(--accent-color);
  font-weight: bolder;
}

.card-text-accent {
  color: grey;
}