.bg-accent {
  background-color: var(--accent-color);
}

.btn-accent {
  background-color: var(--accent-color);
}

.btn-accent:hover, .btn-accent:focus, .btn-accent:active {
  background-color: rgba(242, 48, 95, 0.85) !important;
}

.link-accent {
  color: var(--accent-color);
  cursor: pointer;
  text-decoration: none;
}

.side-img {
  height: 15em;
  margin-left: auto;
}